<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="/css/new_styles.css">
  

  <body>
    <div class = "container">
      <header class = "item header">
        <nav class="navbar">
          <div class="nav-item">
            DAILY JOURNAL
          </div>
          <ul class="nav-item">
          <!-- 6 -->
            <li id="home"><a href="/" >HOME</a></li>
            <li id="about"><a href="/about">ABOUT US</a></li>
            <li id="contact"><a href="/contact">CONTACT US</a></li>
          </ul>
          
        </nav>
      </header>
    
    
    
    
