<%- include("./partials/header") -%>

<h1>Compose</h1>
<div>
    <form action="/" method="post">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" >
        </div>

        <div class="form-group">
            <label for="blogPost">Post</label>
            <textarea id="blogPost" name="blogPost" class="form-control" placeholder="Write something.." rows="3" ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Publish</button>

    </form>
</div>


<%- include("./partials/footer") -%>